.login {
    background-color: #003049;
    color: white;
    padding: 40px;
    height: 100vh;
}

.login__header {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 50px;
}



.login__header > img {
    object-fit: contain;
    width: 70px;
    margin-left: -15px;
}

.login__header > h1 {
    font-size: 1.4rem;
}


.login__section {
    text-align: center;
}
.login__sectionLeft {
    margin-bottom: 60px;
}

.login__sectionLeft > h2 {
    font-size: 7vw;
    font-weight: bold;
    margin-bottom: 30px;
}

.login__sectionLeft > h2:hover {
    color: aqua;
}

.login__sectionLeft > p {
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 30px;
}

.links {
    text-decoration: none;
    color: aqua;
}

.links:hover {
    color: yellow;
}

.login__sectionRight > img {
    display: none;
}

.login__sectionRight > button {
    background-color: #52f546;
    color: white;
    padding: 10px 80px;
    border: none;
    border-radius: 40px;
    font-weight: bold;
}

.login__sectionRight > button:hover {
    background-color: #18E90A;
}

@media only screen and (min-width: 880px) {
    .login__section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left; 
    }

    .login__sectionLeft {
        flex: 0.4;
    }

    .login__sectionLeft > h2 {
        font-size: 4rem;
        margin-bottom: 60px;
    }

    .login__sectionLeft > p {
        font-weight: 200;
        font-size: 1.3rem;
      
        margin-bottom: 60px;
    }

    .login__sectionRight {
        flex: 0.6;
        text-align: center;
        padding: 0 50px;
    }

    .login__sectionRight > img {
        display: unset;
        width: 100%;
        margin-top: -90px;
        max-width: 600px;
        height: auto;
        margin-bottom: 50px;
    } 


}